<% html_title("Historie EV") %>
<!-- contextual -->
<%= render partial: "/common/contextual", locals: { project: @project, cfg_param: @cfg_param, report_param: nil} %>
<section>
  <h2><%= l(:title_evm_tab) %></h2>
  <section>
    <h3><%= l(:subtitle_evm_edit_ev_history) %></h3>
    <%= raw display_no_data(@issues) %>
    <% if @issues.present? %>
      <table class="list issue">
        <thead>
          <tr>
            <th>#</th>
            <th><%=l(:field_subject)%></th>
            <th><%=l(:field_start_date)%></th>
            <th><%=l(:field_due_date)%></th>
            <th><%=l(:field_done_ratio)%></th>
            <th><%=l(:field_history_count)%></th>
            <th class="buttons"></th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <% if issue.children.empty? %>
            <% cnt = JournalDetail.where(:journal_id => Journal.where(:journalized_id => issue.id), :prop_key => "done_ratio").count %>
            <tr id="issue-<%= issue.id %>" class="<%= cycle("odd", "even") %> <%= issue.css_classes %>"></tr>
              <td><%=link_to(issue.id, issue_path(issue))%></td>
              <td><%=issue.subject%></td>
              <td><%=format_date(issue.start_date)%></td>
              <td><%=format_date(issue.due_date)%></td>
              <td><%=number_with_precision(issue.done_ratio, delimiter: " ", precision: 0)%></td>
              <td><%=number_with_precision(cnt, delimiter: " ", precision: 0)%></td>
              <td>
              <% if cnt > 0 %>
                <%= link_to "", { controller: :evmhistory, action: :edit, id: issue.id }, class: "icon icon-edit" %>
              <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </section>
</section>